{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true
    },
    "parser": "babel-eslint",
    "extends": [
        "airbnb-base"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "smells",
    ],
    "rules": {
        "indent": [
            "error",
            4
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-console": [
            "warn",
            { allow: ["warn", "error", "info", "clear"] }
        ],
        "arrow-parens": ["error", "always"],
        "no-var": "error",
        "no-unused-vars": "off",
        "max-len": "off",
        "no-shadow": "off",
        "no-unused-expressions": "off",
        "no-restricted-globals": "off",
        "no-param-reassign": "off",
        "smells/no-switch": "error",
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "webpack.config.js"
            }
        }
    }
}
